.button {
  background-color: cornflowerblue;
  padding: 10px;
  border: hidden;
  border-radius: 5px;

  &:hover {
    background-color: blue;
    color: white;
  }

  &[data-variant="primary"] {
    background-color: green;
    color: white;

    &:hover {
      background-color: darkgreen;
    }
  }

  &[data-variant="secondary"] {
    background-color: red;
    color: white;

    &:hover {
      background-color: darkred;
    }
  }
}
