@font-face {
  font-family: "Public Sans";
  src: local("Public Sans"),
    url("../../assets/fonts/PublicSans.ttf") format("truetype");
}

.iconButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 25px;
  position: static;
  border: none;
  border-radius: 10px;

  font-family: Public Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  &[data-state="selected"] {
    background: #000000;
    color: #f6f6f6;
  }

  &[data-state="unselected"] {
    background: white;
    color: #1a1a1a;
  }
}
